/* Color Palette:
#FCF8EC
#D0E8F2
#79A3B1
#456268 */

/* Fonts:
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive; */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

/* Navbar section */
.navbar {
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 20;
}

nav .container-fluid {
  color: #456268;
  background-color: #fcf8ec;
  font-weight: bold;
}

.nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-shadow: 1px 1px 1px #c0c0c0;
}

.navbar-brand {
  color: #fcf8ec;
  background-color: #456268;
  padding: 10px;
  box-shadow: 2px 2px 2px #000;
  font-family: "Permanent Marker", cursive;
  z-index: 30;
}

#navbarNav .active {
  display: inline-block;
  background: linear-gradient(to left, transparent 50%, #d0e8f2 50%);
}

.navbar-icons {
  margin: 0;
  padding: 0;
  filter: grayscale(0.5);
}

.navbar-collapse {
  transition: height 0.2s ease;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:hover {
  transform: scale(1.05);
}

.scrolled {
  opacity: 0.95;
}

/* Hero section */
h1 {
  font-family: "Playfair Display", serif;
}

h1 span {
  font-family: "Playfair Display", serif;
  text-shadow: 1px 1px 1px #c0c0c0;
}

span {
  background: linear-gradient(to bottom, transparent 60%, #d0e8f2 40%);
}

em {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #c0c0c0;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #c0c0c0;
}

a {
  text-decoration: none;
}

hr {
  width: 90%;
  margin: 3rem auto;
}

.small-text {
  text-align: justify center;
  color: #454545;
}

.lead {
  font-family: "Montserrat", sans-serif;
}

.lead.sub-heading {
  font-weight: bold;
  font-size: 1.5rem;
  background: linear-gradient(to bottom, transparent 60%, #d0e8f2 40%);
  display: inline;
  text-shadow: 1px 1px 1px #c0c0c0;
}

.lead.contacts {
  text-shadow: 1px 1px 1px #c0c0c0;
}

#hero-container {
  padding: 1.5rem 1rem;
}

#hero-heading {
  text-shadow: 1px 1px 1px #c0c0c0;
}

#hero-box {
  position: absolute;
  bottom: 5rem;
  right: 80%;
  z-index: 1;
}

#profile-pic {
  filter: grayscale(0.1);
  border-radius: 5%;
}

.hero-left-dotted {
  position: absolute;
  top: 4rem;
  right: 100%;
  margin-right: -100px;
  z-index: -1;
}

.hero-right-dotted {
  position: absolute;
  bottom: 4rem;
  left: 100%;
  margin-left: -100px;
  z-index: -1;
}


.lets-chat-box {
  box-sizing: border-box;
  border: 1px solid #c0c0c0;
  background-color: #fcf8ec;
  font-size: 0.9rem;
  height: 4rem;
  width: 12rem;
  display: grid;
  place-items: center;
  position: relative;
  transition: all 0.4s;
  overflow: hidden;
  box-shadow: 1px 1px 1px #000;
}

.lets-chat-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #456268;
  transition: all 0.2s;
  z-index: -1;
  transform: translateX(-100%);
}

.lets-chat-box:hover::before {
  transform: translateX(0);
}

.button-text {
  color: #454545;
  text-shadow: 1px 1px 1px #c0c0c0;
}

.button-text > img {
  margin-right: 5px;
}

.explore-me {
  display: inline-block;
  position: relative;
  font-size: 1rem;
}

#explore {
  text-shadow: 1px 1px 1px #c0c0c0;
}

#hero-text .explore-me {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.explore-me a {
  color: #454545;
  margin-right: 10px;
}

#hero-text .explore-me::after {
  content: "";
  position: absolute;
  top: 55%;
  right: -60%;
  width: 60%;
  height: 0.5px;
  background-color: #454545;
  transform: translateY(-50%);
}

/* Greeting animation */
.english-text {
  background: none;
  animation: english;
}

.chinese-text {
  background: none;
  animation: chinese;
}

.japanese-text {
  background: none;
  animation: japanese;
}

.english-text,
.chinese-text,
.japanese-text {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(30, end);
  animation-iteration-count: infinite;
}

@keyframes english {
  0%,
  33%,
  66%,
  100% {
    width: 0;
  }
  10%,
  23% {
    width: 100%;
  }
}

@keyframes chinese {
  0%,
  33%,
  66%,
  100% {
    width: 0;
  }
  43%,
  58% {
    width: 100%;
  }
}

@keyframes japanese {
  0%,
  33%,
  66%,
  100% {
    width: 0;
  }
  76%,
  90% {
    width: 100%;
  }
}

/* Projects section */
#projects-heading {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#all-projects {
  background: none;
  margin-top: 10px;
  transform: translateX(70%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#all-projects:hover::before {
  background-color: #79a3b1;
}

.blue-heading {
  font-family: "Montserrat", sans-serif;
  color: #79a3b1;
}

.project-image {
  border: 1px solid #c0c0c0;
  height: auto;
  width: 100%;
  max-width: 450px;
  max-height: 800px;
  margin: 0 auto;
  box-shadow: 1px 1px 1px #000;
  border-radius: 10%;
}

#featured-background {
  position: absolute;
  bottom: 20%;
  left: 15%;
  width: 85%;
  height: auto;
  max-width: 450px;
  filter: grayscale(1.2);
  z-index: -1;
  box-shadow: 1px 1px 1px #000;
  border-radius: 10%;
}

.number {
  color: gainsboro;
  font-size: 3rem;
  letter-spacing: 3px;
}

.item-box {
  border: 1px solid #c0c0c0;
  margin-top: 5%;
  height: 3rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

/* Skills section */
#skillset {
  width: 100vw;
  background-color: #d0e8f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#learning {
  height: 30rem;
}

.skills {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 12px;
  color: #456268;
  text-transform: uppercase;
  margin: 20px 0;
  text-shadow: 1px 1px 1px #c0c0c0;
}

.skill {
  padding-bottom: 12px;
}

.skill-bar {
  height: 14px;
  background: #292929;
  border-radius: 3px;
}

.skill-percentage {
  height: 14px;
  background: #fcf8ec;
  border-radius: 3px;
  position: relative;
  animation: fillBars 6s;
}

.skill-percentage::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #79a3b1;
  color: #fcf8ec;
  opacity: 0.8;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: transition(50%);
}

.skill-percentage::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #79a3b1;
  color: #fcf8ec;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer section */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-head {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#contact-box {
  margin: 0 auto;
  margin-top: 5rem;
}

.rule {
  margin-top: 6rem;
}

#copyright {
  padding-bottom: 2rem;
}

/* PROFILE PAGE */
#intro {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.typewriter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  opacity: 0;
  animation: typewriter 2.5s steps(48) 0.5s forwards;
}

@keyframes typewriter {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

#chris-pic {
  border-radius: 50%;
  margin: 1rem auto;
}

.summary {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  margin: 0.5rem auto;
}

.job-description {
  list-style: circle;
  text-align: left;
}

#certificates {
  width: 100%;
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #d0e8f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.carousel-item img {
  max-height: 600px;
  object-fit: contain;
}

#carouselExampleIndicators .carousel-indicators button {
  background: #456268;
  border-radius: 50%;
  height: 0.1px;
}

/* PROJECTS PAGE */
.centered-box {
  border: 1px solid #c0c0c0;
  font-size: 0.9rem;
  width: 6rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* CONTACTS PAGE */
#contact-heading {
  font-family: "Montserrat", sans-serif;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  text-shadow: 1px 1px 1px #c0c0c0;
}

#contact-heading + .lead {
  text-shadow: 1px 1px 1px #c0c0c0;
}

.contact-list ul li p {
  font-size: 20px;
}

.contact-list ul li {
  margin: 2rem auto;
}

ul li p img {
  margin-right: 1rem;
}

#workspace-images {
  position: relative;
}

#workspace-pic,
#background-pic {
  max-width: 100%;
  display: block;
  border-radius: 10%;
}

#workspace-pic {
  box-shadow: 10px 10px 20px #000;
}

#background-pic {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: -1;
  filter: grayscale(1.5);
}

/* All hovers */
@media (hover: hover) or (active: active) or (any-pointer: coarse) or (any-pointer: fine) {
  .nav-item:hover {
    transform: scale(1.1);
  }
  .navbar-icons ul li:hover {
    transform: scale(1.2);
  }
  .lets-chat-box:hover,
  .lets-chat-box:active {
    background: #456268;
    font-weight: bold;
    transform: scale(1.1);
    border: 1px solid #456268;
  }
  .lets-chat-box:hover img {
    filter: brightness(0) invert(1);
  }
  .item-box:hover,
  .item-box:active {
    background: #79a3b1;
    font-weight: bold;
    transform: scale(1.05);
  }
  .centered-box:hover,
  .centered-box:active {
    background: #79a3b1;
    font-weight: bold;
    transform: scale(1.05);
  }
  .lets-chat-box:hover .button-text,
  .lets-chat-box:active .button-text {
    color: #fcf8ec;
    text-shadow: 1px 1px 1px #000;
  }
  .item-box:hover .button-text,
  .item-box:active .button-text {
    color: #fcf8ec;
    text-shadow: 1px 1px 1px #000;
  }
  .centered-box:hover .button-text,
  .centered-box:active .button-text {
    color: #fcf8ec;
    text-shadow: 1px 1px 1px #000;
  }
  .explore-me a:hover,
  .explore-me a:active {
    color: #456268;
    font-weight: bold;
  }
  .contact-list ul li:hover {
    transform: scale(1.05);
  }
}

/* All media queries */
@media (max-width: 768px) {
  .nav-item:hover {
    transform: scaleY(1.1);
  }
  .navbar-collapse {
    padding-bottom: 1rem;
  }
  #projects-heading {
    text-align: center;
    margin: auto;
  }
  #all-projects {
    margin: 0 auto;
  }
  #second-sample-image {
    transform: translateY(-25%);
  }
  .flex-center {
    position: relative;
  }
  .item-box {
    height: 2.5rem;
    width: 5rem;
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .project-text {
    transform: translateY(-5rem);
  }
  .lets-chat-box {
    font-size: 0.8rem;
    height: 3rem;
    width: 10rem;
    bottom: 1rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-box {
    left: 30%;
  }
  .typewriter h1 {
    animation: typewriter 1s steps(32) 0.5s forwards;
  }
  .footer p {
    text-align: justify;
  }
  #copyright {
    font-size: 0.8rem;
  }
  .companies {
    transform: scale(0.7);
  }
}