/* Color Palette
#FCF8EC
#D0E8F2
#79A3B1
#456268 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

/* Navbar section */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

nav .container-fluid {
    color: #456268;
    background-color: #FCF8EC;
    font-weight: bold;
}

.navbar-brand {
    color: #FCF8EC;
    background-color: #456268;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    z-index: 30;
}

#navbarNav .active {
    display: inline;
    background: linear-gradient(to left, transparent 50%, #D0E8F2 50%);
}

/* Hero section */

h1 {
    font-family: 'Playfair Display', serif;
}

h1 span {
    font-family: 'Playfair Display', serif;
}

span {
    background: linear-gradient(to bottom, transparent 60%, #D0E8F2 40%);
}

em {
    font-family: 'Playfair Display', serif;

}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    color: #79A3B1;
}

a {
    text-decoration: none;
}

hr {
    width: 90%;
    margin: 0 auto;
}

.small-text {
    text-align: justify center;
    color: #454545;
}

.lead {
    font-family: 'Montserrat', sans-serif;
}

.lead.sub-heading {
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(to bottom, transparent 60%, #D0E8F2 40%);
}


.hero-left-dotted {
    position: absolute;
    top: 2rem;
    right: 100%;
    margin-right: -100px;
    z-index: -1;
}

.hero-right-dotted {
    position: absolute;
    bottom: 3rem;
    left: 100%;
    margin-left: -80px;
    z-index: -1;
}

.lets-chat-box {
    border: 0.5px solid #456268;
    background-color: #FCF8EC;
    font-size: 0.9rem;
    height: 4rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-box {
    position: absolute;
    bottom: 2rem;
    right: 90%;
    z-index: 1;
}

#lets-chat-text {
    color: #454545;
}

#lets-chat-text > img {
    margin-right: 5px;
}

.lets-chat-box:hover {
    background: #456268;
}

.lets-chat-box:hover #lets-chat-text {
    color: #FCF8EC;
    font-weight: bold;
}

.explore-me {
    display: inline;
    position: relative;
    font-size: 1rem;
}

.explore-me a {
    color: #454545;
}

.explore-me a:hover {
    color: #456268;
    font-weight: bold;
}

.explore-me::after {
    content: "";
    position: absolute;
    top: 55%;
    right: -100%;
    width: 90%;
    height: 0.5px;
    background-color: #454545;
    transform: translateY(-50%);
}

/* Projects section */

#projects-heading {
    text-align: left;
  }

.projects-box {
    border: 0.5px solid #456268;
    font-size: 0.9rem;
    height: 4rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.projects-box:hover {
    background: #D0E8F2;
    font-weight: bold;
}

.projects-text {
    color: #454545;
}

.projects-left-dotted {
    position: absolute;
    bottom: 20%;
    right: 90%;
    margin-right: -100px;
    z-index: -1;
}

.projects-right-dotted {
    position: absolute;
    top: 20%;
    left: 85%;
    margin-left: -80px;
    z-index: -1;
}
  
.top-dotted {
  position: absolute;
  right: 10%;
  bottom: 70%;
  z-index: -1;
  transform: rotate(90deg);
}

.bottom-dotted {
  position: absolute;
  left: 20%;
  top: 80%;
  z-index: -1;
  transform: rotate(90deg);
}

.number {
    color: gainsboro;
    font-size: 3rem;
    letter-spacing: 3px;
}

.item-box {
    margin-top: 5%;
    margin-left: 0;
    height: 3rem;
    width: 6rem;
}

#lemon-home {
    filter: grayscale(0.4); 
}

#lemon-prototype {
    transform: scale(1.2) translateX(2rem);
    filter: grayscale(0.4); 
}

#cuddlepaws {
    transform: scale(0.6);
    filter: grayscale(0.3);
}


@media (max-width: 900px) {
    #lemon-prototype {
        padding-right: 10%;
    }

    #cuddlepaws {
      margin-top: 30%;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    #projects-heading {
        text-align: center;
    }

    #first-project-text {
        transform: translateY(-3rem);
    }

    #second-project-text {
        transform: translateY(-3rem);
    }

    #last-project-text {
        transform: translateY(-3rem);
    }

    .projects-right-dotted {
        margin-top: 30%;
    }

    .projects-box {
        margin-left: 0;
    }

    .lets-chat-box {
        border: 0.5px solid #456268;
        background-color: #FCF8EC;
        font-size: 0.8rem;
        height: 3rem;
        width: 10rem;
        bottom: 1rem;
        left: 30%;
        right: 90%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }

/* Skills section */

#skillset {
    width: 90%;
    margin: 0 auto;
    background-color: #D0E8F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#learning {
    height: 30rem;
}

/* Skills progress bar */

.skills {
    width: 100%;
    max-width:600px;
    padding: 0 20px;
    margin: auto;
}

.skill-name {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 12px;
    color: #456268;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill{
    padding-bottom:12px;
}

.skill-bar {
    height: 14px;
    background: #292929;
    border-radius: 3px;
}

.skill-percentage {
    height: 14px;
    background: #FCF8EC;
    border-radius: 3px;
    position: relative;
    animation: fillBars 25s 1s;
}

.skill-percentage::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #79A3B1;
    color: #FCF8EC;
    opacity: 0.8;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: transition(50%);
}

.skill-percentage::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #79A3B1;
    color: #FCF8EC;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    from{
        width: 0;
    }
    to{
        width: 100%; 
    }
}
.companies {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer section */

#footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* PROFILE PAGE */

/* Background section */

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.typewriter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.typewriter h1 {
    overflow: hidden;
    visibility: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    animation: typewriter 3s steps(48) 0.5s forwards;
  }
  
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        visibility: visible;
        width: 100%;
    }
}

#chris-pic {
    border-radius: 50%;
    margin: 1rem auto;
}

.summary {
    width: 50%;
    margin: 1rem auto;
    text-align: center;

}

ul {
    list-style: none;
}

li {
    margin: 0.5rem auto;
}

.job-description {
    list-style: circle;
    text-align: left;
}

.carousel-item img {
    max-height: 600px;
    object-fit: contain;
}

#carouselExampleIndicators .carousel-indicators button {
    background: #79A3B1;
    border-radius: 50%;;
    height: 0.1px;
}